<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Template CSS de la mort</title>

  </head>

  <body id="page-top">

    <!-- Navigation -->
  <!-- Load an icon library -->
<div class="navbar">
  <a href="#default" class="logo">CompanyLogo</a>
  <div class="navbar-right">
    <a class="active" href="#home">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <div class="dropdown" style="float:right;">
    <img class="avatar" src="https://placeimg.com/640/480/animals" width="36" height="36"/>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
</div>


  </div>
</div>


    <!-- Section -->
    <section class="masthead">


<h1>MYLOGO.COM</h1>
<hr>

<ul class="PrimaryNav with-indicator">
    <li class="Nav-item"><a href="#"><small>Abonnements : </small>96</a></li>
    <li class="Nav-item is-active"><a href="#"><small>Abonnés : </small>12,5M</a></a></li>
    <li class="Nav-item"><a href="#"><small>Likes : </small>2,3k</a></li>
  </ul>


<div class="row">
  <div class="column">
<div class="container">

<div class="card">
    <a href="#">
        <!-- Image à la une -->
        <div class="card-image"><img src="https://damienflandrin.fr/storage/tutoriel-realiser-une-carte-en-css/card-image.jpg" alt="Orange" /></div>
        <!-- Fin de l'image à la une -->

        <!-- Corps de notre carte -->
        <div class="card-body">

            <!-- Date de publication de l'article-->
            <div class="card-date">
                <time>20 Novembre 1992</time>
            </div>

            <!-- Titre de l'article -->
            <div class="card-title">
                <h3>Lorem Ipsum</h3>
            </div>
            <!-- Extrait de l'article -->
            <div class="card-excerpt">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatibus autem consectetur voluptate facere at, omnis ab optio placeat officiis! Animi modi harum enim quia veniam consectetur unde autem inventore.</p>
            </div>

        </div>
        <!-- Fin du corps de notre carte -->
    </a>
</div>
</div>
</div>

 <div class="column">

<div class="card">
    <a href="#">
        <!-- Image à la une -->
        <div class="card-image"><img src="https://damienflandrin.fr/storage/tutoriel-realiser-une-carte-en-css/card-image.jpg" alt="Orange" /></div>
        <!-- Fin de l'image à la une -->

        <!-- Corps de notre carte -->
        <div class="card-body">

            <!-- Date de publication de l'article-->
            <div class="card-date">
                <time>20 Novembre 1992</time>
            </div>

            <!-- Titre de l'article -->
            <div class="card-title">
                <h3>Lorem Ipsum</h3>
            </div>
            <!-- Extrait de l'article -->
            <div class="card-excerpt">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatibus autem consectetur voluptate facere at, omnis ab optio placeat officiis! Animi modi harum enim quia veniam consectetur unde autem inventore.</p>
            </div>

        </div>
        <!-- Fin du corps de notre carte -->
    </a>
</div>
</div>
</div>

<button class="button" style="vertical-align:middle"><span>Hover </span></button>


    </section>

  </body>

</html>