/* Style the header with a grey background and some padding */
.navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 0 25px 0 0;
}

.navbar-logo {
  padding: 0;
}

.navbar-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-content: center;
  display: flex;
  align-items: center;
}

.navbar-right li {
  float: left;
  display: inline;
  align-self: center;
  display: flex;
  align-items: center;
}

.navbar-right a {
  color: black;
  display: block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 14px 16px;
}

.navbar-right a:hover {
  color: #e82d00;
  display: block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 14px 16px;
}

.navbar-logo:hover {
  opacity: 0.8;
}